# Neon Database Connection
DATABASE_URL=postgresql://neondb_owner:npg_XbCtD7Gym1jA@ep-dark-moon-aokf620m.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require

# Server Config
PORT=5000
NODE_ENV=development

# JWT Secret
JWT_SECRET=your_secret_key_here_change_in_production

# CORS
CORS_ORIGIN=http://localhost:3000

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Razorpay Configuration
RAZORPAY_KEY_ID=rzp_test_T5BLusoveLQk7o
RAZORPAY_KEY_SECRET=0E6APy48LwmUoqu2EGtc5pXE
